body {
    color: rgb(27, 29, 29);
    background-color: rgb(32, 32, 32);
    overflow-x: hidden;
    color: whitesmoke;
}

h1 {
    left: 50%;
    margin-left: 90px;
    font-size: 1.8em;
    position: absolute;
    text-transform: uppercase;
    top: 240px;
    width: 600px;
}

h2 {
    left: 50%;
    margin-left: -300px;
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    top: 460px;
    width: 600px;
    text-transform: uppercase;
}

h3 {
    left: 50%;
    margin-left: -300px;
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    top: 390px;
    width: 600px;
    color: rgb(0, 160, 223);
    text-transform: uppercase;
}

img {
    border-radius: 50%;
    margin-left: -75px;
    left: 50%;
    position: absolute;
    top: 200px;
    box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.329);
    animation: bounce alternate 1s infinite;
    border: 4px white solid; 
    box-shadow: inset 0px 0px 0px 16px white;
    cursor: pointer;
}

.me_image:hover {
    animation-play-state: paused;
    box-shadow: inset 0px 0px 0px 16px white;
}

@keyframes bounce {
    0% { transform: translateY(2px)}
    100% { transform: translateY(-2px)}
}

.headerimg {
    position: relative;
    top: -50px;
    background: rgb(0, 160, 223);
    width: 100vw;
    height: 550px;
    color: white;
}

.about-me-box {
    position: relative;
    top: 0px;
    text-align: center;
}

.about-me-header {

}

.about-me-text {
    margin-left: -300px;
    left: 50%;
    position: absolute;
    width: 600px;
}

.tech-stack {
    top: 100px;
    position: relative;
}

ul {
    list-style: none;
}

.tech-ul {
    float: left;
    width: 200px;
}

.tech-header {
    position: absolute;
    left: 50%;
    margin-left: -400px;
}

.tech-table {
    position: absolute;
    top: 40px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
  
}

.projects {
    position: relative;
    top: 300px;
}

.projects-header {
    font-weight: 700;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}

.project-individual {
    float: left;
    width: 200px;
    height: 200px;
    color: whitesmoke;
    padding: 10px;
    margin: 0px;
    transition: 0.5s;
    font-size: 2em;
    text-align: center;
}

.project-container {
    position: absolute;
    width: 805px;
    left: 50%;
    margin-left: -400px;
    top: 40px;
}

.astrrisk {
    text-transform: uppercase;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://raw.githubusercontent.com/typeF/AstrRisk/master/docs/Main%20Screen%20SS.png");
    background-size: 900px 520px;
    line-height: 175px;
}

.beholder {
    text-transform: uppercase;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://github.com/claytonsavage/Beholder/blob/master/Beholder%20Screenshots/Todolist.png?raw=true");
    background-size: 900px 320px;
    background-position: 400px 300px;
    line-height: 175px;
}
.tinyurl {
    text-transform: uppercase;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://github.com/claytonsavage/tiny-app/blob/master/docs/URLs%20screen.png?raw=true");
    background-size: 500px 300px;
    background-position: -35px -35px;
    line-height: 175px;
}
.tweeter {
    text-transform: uppercase;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://raw.githubusercontent.com/claytonsavage/tweeter/master/documents/main.png");
    background-size: 900px 520px;
    background-position: 550px 300px;
    line-height: 175px;
}
.jungle {
    text-transform: uppercase;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://raw.githubusercontent.com/claytonsavage/jungle-rails/master/docs/product_page.png");
    background-size: 900px 520px;
    background-position: 550px 300px;
    line-height: 175px;
}
.chatty {
    text-transform: uppercase;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://raw.githubusercontent.com/claytonsavage/chatty-app/master/docs/ChattyApp.png");
    background-size: 900px 520px;
    line-height: 175px;
}

.astrriskback {
    color: white;
    transform: perspective(300px) rotateY(0deg);
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://raw.githubusercontent.com/typeF/AstrRisk/master/docs/Main%20Screen%20SS.png");
    background-size: 500px 300px;
    font-size: 1em;
}
.beholderback {
    color: white;
    transform: perspective(300px) rotateY(0deg);
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://github.com/claytonsavage/Beholder/blob/master/Beholder%20Screenshots/Todolist.png?raw=true");
    background-size: 500px 200px;
    font-size: 1em;
}
.tinyurlback {
    color: white;
    transform: perspective(300px) rotateY(0deg);
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://github.com/claytonsavage/tiny-app/blob/master/docs/URLs%20screen.png?raw=true");
    background-size: 500px 300px;
    background-position: 400px 300px;
    font-size: 1em;
}
.tweeterback {
    color: white;
    transform: perspective(300px) rotateY(0deg);
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://raw.githubusercontent.com/claytonsavage/tweeter/master/documents/main.png");
    background-size: 500px 300px;
    background-position: 400px 300px;
    font-size: 1em;
}
.jungleback {
    color: white;
    transform: perspective(300px) rotateY(0deg);
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://raw.githubusercontent.com/claytonsavage/jungle-rails/master/docs/product_page.png");
    background-size: 500px 300px;
    font-size: 1em;
}
.chattyback {
    color: white;
    transform: perspective(300px) rotateY(0deg);
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://raw.githubusercontent.com/claytonsavage/chatty-app/master/docs/ChattyApp.png");
    background-size: 500px 300px;
    font-size: 1em;
}

.astrriskback p {
    transform: rotateY(180deg);
}
.beholderback p {
    transform: rotateY(180deg);
}
.tinyurlback p {
    transform: rotateY(180deg);
}
.tweeterback p {
    transform: rotateY(180deg);
}
.jungleback p {
    transform: rotateY(180deg);
}
.chattyback p {
    transform: rotateY(180deg);
}

.image {
    float: left;
    width: 400px;
    height: 200px;
    color: whitesmoke;
    padding: 10px;
    margin: 0px;
    background-color: rgb(134, 134, 134);
}

footer {
    position: relative;
    top: 730px;
    margin-bottom: 60px;
    height: 200px;   
    text-transform: uppercase;
    text-align: center; 
}

.btn {
    position: absolute;
    left: 50%;
    width: 250px;
    font-size: 1.5em;
    background-color: rgb(68, 127, 216);
    color: white;
    margin-left: -100px;
    border-radius: 0%;
    top: 38%;
    text-align: center; 
}

.selection {
    float: left;
    width: 200px;
    height: 200px;
    color: whitesmoke;
    padding: 10px;
    margin: 0.5px;
    opacity: 0;
}
.selection:hover {
    border: 3px solid ivory;
}

.hide {
    transform: perspective(300px) rotateY(-180deg);
    opacity: 0;
}

.show {
    transform: rotateY(180deg);
    transition: 0.5s;
}

.orbit {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    border: 4px white solid;
    transform: rotateX(67deg);
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
}


.orbit2 {
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 100%;
    border: 4px white solid;
    transform: rotateX(67deg);
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -400px;
}


.orbit3 {
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    border: 4px white solid;
    transform: rotateX(67deg);
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -450px;
}